.rooms {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    width: 75%;
    border: 15px solid #dae3f3;
    background-color: #dae3f2;
    padding: 50px;

}

div.single_room:hover{
    cursor:pointer;
}

div.single_room {
    background-color: #4472c4;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    width: 100%;
    border: 15px solid #dae3f3;
    padding: 20px;

}
img{
    width: 100%
}

p.description {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: white;
    text-align: left;
}

h1, h2, p {
    font-family: Verdana, serif;
}