.rooms {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    width: 75%;
    border: 15px solid #dae3f3;
    background-color: #dae3f2;
    padding: 50px;

}

.buttonColor{
    background-color: #2f5597;
}

div.single_room {
    background-color: #4472c4;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    border: 15px solid #dae3f3;


}
img{
    width: 100%
}



h1, h2, p {
    font-family: Verdana, serif;
}