@font-face {
    font-family: Dephiana;
    src: url("../fonts/Dephiana.otf") format("opentype")
}


* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.fold {
    height: 100%;
}

#loadHeader {
    height: 15vh;
}

.header-image {
    height: 85vh;
    width: 90%;
    margin: 0 auto;
}

.header-image > img {
    width: 100%;
    max-height: 100%;
}
