html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
/*    background: url('../images/Background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

.navbar {
    height: 60px;
    background-color: #99d9ea;
    z-index: 100;
}

.navbar-brand {
    top: 0;
    left: 0;
    position: relative;
}

.navbar-collapse {
    background-color: #99d9ea
}

.navbar-brand img {
    height: 60px;
    width: 60px;
    display: inline-block;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #99d9ea;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}