.rooms {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 75%;
    border: 10px solid #dae3f3;
    background-color: #99d9ea;
    padding: 50px;
}

.buttonColor {
    background-color: #2f5597;
}

div.single_room {
    background-color: #7092BE;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.rooms img {
    width: 100%
}

p {
    font-size: small;
}

h1,
h2,
p {
    font-family: Verdana, serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

.bottomdiv{
  position:absolute;
  left:5;
  bottom:0;
}

.filterLabel{
  font-weight: bold;
}

.highlight{
     background-color: #7092BE;
     border: 1px solid red !important;
 }
