{{>header}}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/rooms.css"/>

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Available Rooms</title>

</head>
<body>
    <!-- Navigation -->
    {{>navbar}}
    <div class="container">
        <div class="rooms">
            <div class="row">
                <div class="col-md-4">
                    <form>
                        Maximum price: <input type="number" name="max"><br />
                    </form>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <button onclick="getRoomsUnder()" class="btn btn-secondary">Filter</button>
            </div>
        </div>

        <div class="rooms">
            <h2> Available rooms</h2>
            <div class="container d-flex flex-column " id="roomlist">
            </div>
        </div>
    </div>
    {{>footer}}

    <!-- ADD CUSTOM JS FILES HERE -->
    <script src="js/rooms.js"></script>
</body>
</html>