{{>employeePortalTop}}
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit a Room</h3>
    <button type="button" class="close" onclick="deselect()" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <form id="modalForm" enctype='text/plain'>

        ID:<br>
        <input type='text' class="form-control" name='id' id="id">

        <br> Name:<br>
        <input type='text' class="form-control" name='name' id="name">

        <br> Price:<br>
        <input type='text' class="form-control" name='price' id="price"><br>
    </form>

</div>
{{>employeePortalBottom}}
<!--Custom js here-->
</body>

</html>