{{>header}}

    <!-- Custom styles for this template -->
    <link href="css/index1.css" rel="stylesheet">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Molveno Lake Resort</title>

</head>
<body>
    <!-- Navigation -->
    {{>navbar}}
    <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <h1 class="mt-5 pl-4" id="pageTitle" style="color: #396c7f">Molveno Lake Resort</h1>
            </div>
        </div>
    </div>
    {{>footer}}
    <!-- ADD CUSTOM JS FILES HERE -->
</body>
</html>