<nav class="navbar navbar-expand-lg navbar-dark p-0">
    <a class="navbar-brand m-0 p-0" href="http://localhost:8080/"><img src="images/logo-small.png"> Molveno Lake Resort</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-2" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/booking">Book now
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/restaurant">Restaurant</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="images/UK.jpg" style="max-width:40px; padding:10px"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="images/CH.png" style="max-width:40px; padding:10px"></a>
            </li>
        </ul>
    </div>
</nav>